@charset "utf-8";
header {
  height: 19.2rem;position: relative;
  .s1 {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
    .swiper-pagination-bullet-active {
      color:$wt;
      background: $wt!important;
      width:1.8rem;
      margin:0!important;
    }
    .swiper-pagination-bullet {
      margin: 0 5px;
      margin-bottom: 1rem!important;
      border-radius: .2rem;
      text-align: center;
      line-height: 10px;
      font-size: 12px;
      opacity: 1;
      height:.3rem;
      background-color: $wt;
    }
  }
  .blur{
    height:1.4rem;position: absolute;bottom:-0.3rem;width: 100%;z-index: 10;background-color: $wt;
    //-webkit-filter: blur(1px); /* Chrome, Opera */
    //-moz-filter: blur(10px);
    //-ms-filter: blur(10px);
    filter: blur(4px);
  }
}
