@charset "utf-8";
$wt:#fff;
header {
  position: relative;
  .s1 {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
    .swiper-wrapper{
      height:12rem;
    }
    .swiper-pagination{
     bottom:.1rem;
      .swiper-pagination-bullet-active{
        background-color:#28c0ac ;
      }
    }
    .swiper-pagination-bullet {
      width: .6rem;height:.6rem;
    }
  }

}
